# PROBLEM 1: Aminer : basic dataset analysis

In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Dataset info

https://cn.aminer.org/citation

In [ ]:
#* --- paperTitle
#@ --- Authors
#t ---- Year
#c  --- publication venue
#index 00---- index id of this paper
#% ---- the id of references of this paper (there are multiple lines, with each indicating a reference)
#! --- Abstract

# To extract: authors, publication venues, publications, and citations/references
# fix issue (space issue)

In [ ]:
import json

# Function to extract data from text file and store in JSON format

data = []
record = {}
filename = "/content/drive/MyDrive/USML/HW1/PROBLEM_1/acm.txt"
with open(filename, 'r') as file:
  for line in file:
    if line.startswith("#@"):
      record['authors'] = auth = [author.strip() for author in line.strip("#@").strip().split(", ")]
    elif line.startswith("#c"):  # Venue
      record['venue'] = line.strip("#c").strip()
    elif line.startswith("#index"):  # Publication ID
      record['publication'] = line.strip("#index").strip()
    elif line.startswith("#%"):  # Citations
      record.setdefault('citations', []).append(line.strip("#%").strip())
    elif line.strip() == "":  # Empty line indicates end of record
      data.append(record)
      record = {}

data.append(record)
# Store data in JSON format
with open("/content/drive/MyDrive/USML/HW1/PROBLEM_1/aminer_data.json", "w") as json_file:
    json.dump(data, json_file)

In [ ]:
len(data)

2385067

In [27]:
# Including year information:
import json

# Function to extract data from text file and store in JSON format

data = []
record = {}
filename = "/content/drive/MyDrive/USML/HW1/PROBLEM_1/acm.txt"
with open(filename, 'r') as file:
  for line in file:
    if line.startswith("#index"):  # Publication ID
      record['publication'] = line.strip("#index").strip()
    elif line.startswith("#t"):  # year
      record['year'] = line.strip("#t").strip()
    elif line.startswith("#%"):  # Citations
      record.setdefault('citations', []).append(line.strip("#%").strip())
    elif line.strip() == "":  # Empty line indicates end of record
      data.append(record)
      record = {}

data.append(record)
# Store data in JSON format
with open("/content/drive/MyDrive/USML/HW1/PROBLEM_1/aminer_timeseries_data.json", "w") as json_file:
    json.dump(data, json_file)

In [35]:
data[:35]

[{'year': '1984', 'publication': '1'},
 {'year': '1984', 'publication': '2'},
 {'year': '1984', 'publication': '3'},
 {'year': '1984', 'publication': '4'},
 {'year': '1984', 'publication': '5'},
 {'year': '1984', 'publication': '6'},
 {'year': '1983', 'publication': '7'},
 {'year': '1983', 'publication': '8'},
 {'year': '1984', 'publication': '9', 'citations': ['289258', '2135000']},
 {'year': '1984', 'publication': '10', 'citations': ['2135000']},
 {'year': '1984',
  'publication': '11',
  'citations': ['289023', '408637', '600827', '688896', '2135000']},
 {'year': '1984',
  'publication': '12',
  'citations': ['768',
   '289451',
   '319820',
   '408342',
   '598671',
   '598674',
   '598672',
   '600546',
   '600559',
   '600810',
   '690080',
   '1068476',
   '2135000']},
 {'year': '1984', 'publication': '13'},
 {'year': '1984', 'publication': '14'},
 {'year': '1984', 'publication': '15'},
 {'year': '1984', 'publication': '16'},
 {'year': '1984', 'publication': '17'},
 {'year': '1984', 'publication': '18'},
 {'year': '1984', 'publication': '19'},
 {'year': '1984', 'publication': '20'},
 {'year': '1984', 'publication': '21'},
 {'year': '1984', 'publication': '22'},
 {'year': '1984', 'publication': '23'},
 {'year': '1984', 'publication': '24'},
 {'year': '1984', 'publication': '25'},
 {'year': '1984', 'publication': '26'},
 {'year': '1984', 'publication': '27'},
 {'year': '1984', 'publication': '28'},
 {'year': '1984', 'publication': '29'},
 {'year': '1984', 'publication': '30'},
 {'year': '1983', 'publication': '31'},
 {'year': '1983', 'publication': '32'},
 {'year': '1983', 'publication': '33'},
 {'year': '1983', 'publication': '34'},
 {'year': '1983', 'publication': '35'}]